version: '3.8'

services:
  demo:
    volumes: 
      - .:/home/gradle/project
    #workingdir: /home/gradle/project
    image: wadebanman/demo:b518c59
    container_name: demo
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
    stdin_open: true
    tty: true

    
    
    command: ["./gradlew", "appRun"]
    #working_dir: /home/desktop_app

  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
    - 8081:8080
    container_name: jenkins
    volumes:
    - /workspaces/demo/jenkins_home:/var/jenkins_home
    - /var/run/docker.sock:/var/run/docker.sock